// Place all the styles related to the tops controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
header {
  width: 100%;
  background-color: #FFFFEE;
  height: 50px;
  display: table;
  padding: 15px;
}

.title {
  text-align: left;
  font-size: 2rem;
  display: table-cell;
}
.login {
  display: table-cell;
  text-align: right;
}


footer {
  min-width: 100%;
  background-color:#FFFFEE;
  padding: 20px 0 10px 0;
  color: black;
  padding-bottom: 10px;
  font-size: 12px;
  position: absolute;
  bottom: 0;
  text-align: center;
}

html {
  min-height: 100%;
  margin-bottom: 1rem;
}

body {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  position: relative;
}
.content{
  text-align: center;
}
